<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://browser.sentry-cdn.com/5.0.8/bundle.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      Sentry.init({ dsn: 'https://42404814b5a24bfeb1d19e9c7e8866ad@sentry.io/1255197' });
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WA7VC Ham Radio Club</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Jura:400,700|Oswald:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

  <body>
    <div data-sticky-container>
      <div id="header" class="top-bar" data-sticky data-options="marginTop:0;">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><a id="mainlink" href="/">WA7VC</a></li>
            <li class="menu-text"><a href="/#about">About</a></li>
            <li class="menu-text">
              <a href="/#events">Events</a>
              <ul class="menu vertical">
                <li><a href="/dmrgathering">PNW DMR Gathering</a></li>
                <li><a href="/summergathering">Summer Gathering</a></li>
              </ul>
            </li>
            <li class="menu-text"><a href="/#on-air">On-Air</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li id="pingmsg-li" class="menu-text"><a id="pingmsg-a" href="/marvin"><span id="pingmsg"></span></a></li>
            <li class="menu-text"><a class="button" href="mailto:info@wa7vc.org">Email Us</a></li>
          </ul>
        </div>
      </div>
    </div>

    <%= if get_flash(@conn, :error) || get_flash(@conn, :info) do %>
      <div class="grid-x" id="flash-alert-container">
        <div class="cell">
          <%= if get_flash(@conn, :error) do %> 
            <p class="alert alert-danger" role="alert"><i class="fas fa-exclamation-triangle"></i> <%= get_flash(@conn, :error) %></p>
          <% end %>
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><i class="fas fa-info-circle"></i> <%= get_flash(@conn, :info) %></p>
          <% end %>
        </div>
      </div>
    <% end %>

    <div id="content">
      <%= render @view_module, @view_template, assigns %>
    </div>

    <div id="footer">
      <div id="footer-grid" class="grid-x">
        <div id="footer-contact-header" class="cell small-12 medium-8">
          <h1>Contact Us</h1>
        </div>
        <div class="cell hide-for-small-only medium-4"></div>

        <div class="cell small-12 medium-4">
          <ul>
            <li>70cm Simplex: 446.525 (no tone)</li>
            <li>Echolink: Node 98045 (or Valley Camp)</li>
            <li>IRLP: 7808</li>
            <li>DSTAR: WA7VC B on 440.01250Mhz + 5.000Mhz</li>
            <li>APRS: WA7VC-10 Digi-iGate 144.390</li>
            <li>DMR: NorthBend-ValleyCamp 440.7250 + 5.000Mhz (Talkgroup: Local 2)</li>
          </ul>
        </div>
        <div class="cell small-12 medium-4">
          <a href="mailto:info@wa7vc.org">info@wa7vc.org</a><br />
          <br />
          49515 S.E. Middle Fork Rd<br />
          North Bend, WA, 98045
        </div>
        <div class="cell small-12 medium-4">
          <div class="grid-y footer-right-container">
            <div class="cell small-11">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/summergathering">Summer Gathering</a></li>
              </ul>
            </div>
            <div class="cell small-1 created-by">Created by <a href="https://daedalusdreams.com/">Daedalus Dreams</a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      _paq.push(['enableHeartBeatTimer']);
      (function() {
        var u="https://a.daedalusdreams.com/";
        _paq.push(['setTrackerUrl', u+'js/']);
        _paq.push(['setSiteId', 6]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://a.daedalusdreams.com/js/index.php?idsite=6" style="border:0;" alt="" /></p></noscript>
  </body>
</html>
