<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <script src="https://js.sentry-cdn.com/ccda27ded6584ec8af5267de91326db8.min.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WA7VC Radio Club</title>
  </head>

  <body style="margin:0; padding: 0;">
    <nav id="header" style="background-color: rgb(230, 230, 230); padding: 40px;">
      <h1>
        <a href="/">WA7VC</a>
      </h1>
    </nav>

    <main id="content" style="background-color: rgb(255, 255, 255); padding: 0px 40px; 40px; 40px;">
      <h1>Oops!</h1>
      <p>The page you were looking for was not found.</p>
      <p>You should be redirected back to the home page in a few seconds. If not, click <a href="/">here</a>.</p>
    </main>

    <script type="text/javascript">
      window.location.replace("/?flash_error=404")
    </script>

    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      _paq.push(['enableHeartBeatTimer']);
      (function() {
        var u="https://a.daedalusdreams.com/";
        _paq.push(['setTrackerUrl', u+'js/']);
        _paq.push(['setSiteId', 6]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://a.daedalusdreams.com/js/index.php?idsite=6" style="border:0;" alt="" /></p></noscript>
  </body>
</html>
