@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: rgb(255,255,255);
  color: rgb(0,0,0);
}

a {
  @apply text-sky-600 hover:underline hover:text-sky-800;
}

#header {
  @apply md:sticky md:top-0 bg-neutral-200
          font-bold text-lg md:text-2xl lg:text-3xl;
  font-family: Jura, san-serif;
  z-index: 99;
}
#header a.logo {
  @apply text-black no-underline sm:pr-7;
}
#header a {
  @apply hover:underline;
  color:rgb(23, 121, 186);
}

#pingmsg-li {
  padding-left: 10px;
  padding-right: 30px;
  font-size:0.9rem;
}

#pingmsg-a {
  display: none;
}

#hero {
  @apply pb-0;
  background-color: rgb(56,56,56);
  text-align: center;
  padding-top:30px;
}

#hero h1 {
  @apply text-xl sm:text-3xl md:text-5xl xl:text-7xl mb-4;
  color: rgb(254,254,254);
  font-weight: bold;
  font-family: Oswald, Helvetica, san-serif;
  margin-left: 25%;
  margin-right: 25%;
}

#hero h2 {
  @apply text-lg sm:text-xl md:text-4xl mb-4
          mx-auto;
  color: rgb(254,254,254);
  font-weight: bold;
  font-family: Jura, Helvetica, san-serif;
}

#hero img {
  @apply mx-auto mt-0 mb-0;
}


#content {

}

#content > section#prev-next {
}

#content > section#prev-next > div {
  padding: .5rem;
}

#content > section.bg-light {
  background-color: rgb(255,255,255);
}

#content > section.bg-medium {
  background-color: rgb(186,186,186);
}

#content > section.bg-dark {
  background-color: rgb(56,56,56);
  color: rgb(254,254,254);
}

#content > section > .section-drop-image {
  @apply min-h-[100px] md:min-h-[250px];
  text-align: center;
  position: relative;
}
#content > section > .section-drop-image > img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
}

#content > section > div {
  @apply pb-1 md:pb-[4rem];
  padding-right: 3rem;
  padding-left: 3rem;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

#content > section h4 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: Jura, san-serif;
}

#content > section h5 {
  @apply mt-4;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Jura, san-serif;
}

#content > section p {
  @apply pt-4;
}

#content > section ul {
  @apply list-disc list-inside;
}


#content #event-schedule ul.schedule-list {
  @apply list-none;
}

#content #event-schedule ul.schedule-list > li {
  margin-bottom: 0.8rem;
}

#content #event-schedule ul.schedule-list > li > time {
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 2px solid black;
}
#content #event-schedule ul.schedule-list > li > time:after {
  content: "";
  display: block;
}


#footer {
  width: 100%;
  background: rgb(42,46,49);
  color: rgb(255,255,255);
}

#footer > div {
  padding-right: 3rem;
  padding-left: 3rem;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

#footer #footer-grid {
  min-height: 24rem;
  padding:4rem;
}

#footer #footer-contact-header {
  @apply text-2xl md:text-4xl font-bold text-center;
  font-family: Jura, san-serif;
}

#footer .footer-right-container {
  height: 100%;
}

#footer .created-by {
  font-size: 0.8rem;
}

.follow_curve::after {

}

.upper-curve {
}

.upper-curve::after {
    background-image: url(/images/upper-curve-white.svg);
    background-size: 100% 100%;
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    top: -49px;
    width: 100%;
    z-index: 1;
}

.p-spacer {
  min-height: 50px;
}

#content > section .marvin-stat-block {

}
#content > section .marvin-stat-block h3 {
  @apply font-bold text-xl lg:text-2xl mb-2 lg:mb-4;
}
#content > section .marvin-stat-block ul {
  @apply list-outside pl-5;
}
