<div id="hero">
  <h1>WA7VC</h1>
  <h2>Ham Radio in the Snoqualmie Middle Fork Valley</h2>
</div>

<div id="hero-image" class="upper-curve">
  <img src={Routes.static_path(@conn, "/images/overhead-640x480.png")} alt="Looking down on an event." />
</div>
