wa7vc/assets/node_modules/
wa7vc/_build
wa7vc/config/dev.local.exs
wa7vc/config/prod.secret.exs
wa7vc/deps
wa7vc/erl_crash.dump
wa7vc/priv/files/
wa7vc/priv/static/
wa7vc/test
wa7vc/tmp
wa7vc/uploads
wa7vc/*.sh

marvin/_build
marvin/deploy
marvin/deps
marvin/erl_crash.dump
marvin/test
marvin/tmp
marvin/*.sh
